<%- include("./partials/header.ejs") %>

<form action="/create" method="post">
    <p><label>Title:</label></p>
    <textarea name="blog1" rows="1" cols="50"></textarea>
    <p><label>Blog:</label></p>
    <textarea name="blog2" rows="12" cols="50"></textarea>
    <br>
    <input type="submit" value="Submit">
</form>


    </main>
</body>
</html>